*.code-workspace
*.json

load_data_gcs
gcloud
zoomcamp
terraform-demo
data_pgadmin
ny_taxi_postgres_data
keys
upload-data.ipynb
.ipynb_checkpoints
extra_notes.txt
env
.dlt
1_data_eng_intro/**/*.csv
2_workflow_orchestration/**/*.csv
