*.code-workspace
*.json
*.jar
*.crc

temp

load_data_gcs
gcloud
zoomcamp
terraform-demo
data_pgadmin
ny_taxi_postgres_data
keys
upload-data.ipynb
.ipynb_checkpoints
extra_notes.txt
env
.dlt
__pycache__

1_data_eng_intro/**/*.csv
2_workflow_orchestration/**/*.csv

5_batch/SQL-Spark/data
5_batch/SQL-Spark/zones
5_batch/SQL-Spark/tmp
5_batch/SQL-Spark/lib

5_batch/homework/data
5_batch/homework/fhv_data
5_batch/homework/zones


5_batch/*.csv
5_batch/*.csv.gz
5_batch/*.parquet
5_batch/fhvhv

6_streaming/homework/*.csv